
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    main{
        margin-top: 0;
    }
    
    .headerTop{
        padding: 10px 0;
    }
    .headerTop ul.language{
        float: left;
        padding-left: 30px;
    }
    .headerTop ul.account{
        float: right;
    }
    .item p {
        display: block;
    }
    .item h2{
        font-size: 25px;
    }
    .carousel-indicators li{
        margin-bottom: 0px;
    }
    .carousel-indicators .active{
        margin-bottom: 0px;
    }
    .soap{
        margin-top: 0;
    }
    .soap p{
        padding: 3px 20px;
    }
    .pure{
        margin-top: 0;
    }
    .pure div.shopPure{
        padding-top: 0;
    }
    .botanic{
        margin-top: 45px;
    }
    .logPg{
        margin-top: 100px;
    }
    .plashOil{
        margin-top: 30px;
    }
    .plashOil img{
        margin-top: -40px;
    }
    .shipping article{
        padding: 20px;
        margin-bottom: 0;
    }
    footer{
        margin-top: 40px;
    }
    .newsletter{
        margin-bottom: 30px;
    }
    .categories{
        padding: 10px;
    }
    
    .delivery td{
        padding: 20px;
    }
   
    .table1 .tableR{
        float: right;
    }
    .table1 td{
        padding: 5px;
    }
    .adressDelivery a.btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc513;
    border-radius: 5px;
    background: #6cc513;
    padding: 5px 10px;
    font-size: 12px;
    margin-top: -25px;
}
    .threeModal{
        margin-top: 20px;
        
    }
    .deliveryA{
        margin-top: 110px;
    }

    .about-picture .about-hover {
        position: absolute;
        width: 100%;
        height: 90%;
        top: 5%;
        left: 0;
        background: #95cf5b;
        display: none;
        opacity: 0.5;
    }
    .about {
        position: absolute;
        top: 50%;
        left: 25%;
    }
    .about h2{
        font-size: 40px;
    }
    .about {
        position: absolute;
        top: 50%;
        left: 40%;
    }
    .about h2{
        font-size: 40px;
    }
    .stars {
        position: absolute;
        top: 15%;
        left: 70%;
    }

    .contact-info article {
        padding: 40px;
    }
    .view{
        margin-top: 20px;
    }
    .displayView .fa-th, .displayView .fa-th-list{
        display: block;
    }
    .displayView .fa-cog{
        display: none;
    }
    .filtersSelect{
        display: block;
    }
    .filtersSelect article{
        padding: 20px;
    }
    .register{
        margin-top: 20px;
    }
    .registration{
        margin-top: 30px;
    }
    
    .best-Sale .imageHover {
        color: #6cc515;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 15%;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: none;
        background-color: rgba(0,0,0,0.8);
        background-size: cover;
    }
    .twelve .imageHover {
        color: #6cc515;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 40%;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: none;
        background-color: rgba(255,255,255,0.9);
        background-size: cover;
    }
    .twelve{
        display: none;
    }
    .twelve-p{
        display: block;
    }
    .stars {
    position: absolute;
    top: 12%;
    left: 70%;
}
    .registration ul {
        padding-left: 35%;
    }
    .registration ul li a{
        color:#6cc515;
    }
    .tab-content{
        margin-top: 20px;
    }
    

    .error h1{
    font-size: 150px;
    color: #fd6804;
    font-weight: 900;
}
    .error-1 h2 {
    font-weight: 300;
    color: #3d3d3d;
    margin-top: 10px;
    font-size: 50px;
    text-align: left;
}
.error-1{
    margin-top: 50px;
}

.paymentMetod .panel-title a{
    display: block;
    outline: none;
    text-decoration: none;
}
.formF{
    display: none;
}
 .about-picture figure{
        position: relative;
    }
    .about-picture .about-hover {
        position: absolute;
        width: 70%;
        height: 90%;
        top: 5%;
        left: 15%;
        background: #95cf5b;
        display: none;
        opacity: 0.5;
    }
    .deliveryOption form{
        border: none;
    }
    .threeModal{
        margin-top: 60px;
    }
    .popReg{
        margin-top: 120px;
    }
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {     
    .soap {
        padding-bottom: 20px;
    }
    .discount{
        padding-top: 80px;
    }
    .newsletter .social{
        padding-top: 35px;
        padding-left: 20px;
    }
    .newsletter .input-group .form-control {
        float: right;
        width: 50%;
        margin-top: 6px;
    }
    .newsletter .btn{
        margin-top: 5px;
    }
    .newsletter label {
        margin-top: 0px;
        padding-left: 200px;
    }

    .newsletter form{
        padding-right: 50px;
    }
    footer .contact{
        margin-top: -15px;
    }
    .about-picture figure{
        position: relative;
    }
    .about-picture .about-hover {
        position: absolute;
        width: 70%;
        height: 90%;
        top: 5%;
        left: 15%;
        background: #95cf5b;
        display: none;
        opacity: 0.5;
    }
    .about {
        position: absolute;
        top: 60%;
        left: 45%;
    }
    .about h2{
        font-size: 36px;
    }
    .stars {
        position: absolute;
        top: 10%;
        left: 50%;
    }
    .filtersSelect{
        display: block;
    }
.user{
        margin-top: 210px;
    }
    .adressDelivery form {
    border: 1px solid #e8e8e8;
    padding: 10px;
    margin-bottom: 30px;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .headerTop .list-inline{
        text-align: left;
    }
    .navbar{
        padding: 40px 0;
    }
    #inputMail{
    padding: 6px;
    margin-top: 6px;
}
    .navbar-default .navbar-nav > li > a{
        padding-right: 50px;
    }
    .shopingCart{
        padding-left: 110px;
    }
    .carousel-caption{    
        top: 30%;
        font-family: 'Lato', sans-serif;
        text-align: left;
    }
    .aboutUS .carousel-caption{
        text-align: center;
        color: black;
    }
    .shopFrid .carousel-caption{
        text-align: center;
        color: black;
    }
    .aboutUS .fa{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: black;
    }
    .Contact .carousel-caption{
        text-align: center;
        color: black;
    }
    .productDetails .carousel-caption{
        text-align: center;
        color: black;
    }
    .item h2{
        font-size: 60px;
        padding-bottom: 25px;
    }
    .item p{
        font-size: 14px;
        padding-bottom: 30px;
    }
    .item a{
        font-size: 16px;
        padding: 10px 15px;
    }
    .tonic{
        margin-top: 80px;
    }
    .tonic p{
        font-size: 15px;
    }
    .herbalTonic div.shopTonic{
        padding-top: 130px;
    }
    .tonic button{
        font-size: 12px;
        padding: 10px 20px;
    }
    .soap{
        padding-top: 38px;
    }
    .soap img{
        width: 90%;
        padding-left: 20px;
        top: 25px;
    }
    .shopSoap{
        padding: 16px 0 40px;;
    }
    .soap p{
        padding: 0 20px;
        margin-bottom: 14px;
    }
    .pure h3{
        font-size: 22px;
        margin-top: 70px;
    }
    .pure p{
        font-size: 12px;
        width: 80%;
    }
    .pure div.shopPure{
        padding-left: 25px;
        width: 80%;
    }
    .shopBotanic h3{
        font-size: 22px;
    }
    .popular h4{
        font-size: 24px;
    }
    .plashOil{
        margin-top: 70px;
        padding-top: 0;
    }
    .plashOil h3{
        margin-bottom: 30px;
    }
    .discount{
        padding-top: 180px;
    }
    .discount p:last-of-type{
        margin-top: 35px;
    }
    .plashOil button{
        font-size: 12px;
        padding: 10px 20px;
    }
    .plashOil img{
        margin-top: -30px;
    }
    .popular h4{
        font-size: 20px;
        padding-top: 30px;
    }
    .popular{
        padding-bottom: 50px;
    }
    .shipping{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .shipping article{
        padding: 40px 60px 50px 50px;
    }
    .newsletter label{
        font-size: 16px;
    }
    .newsletter{
        margin-bottom: 80px;
    }
    footer .contact{
        margin-top: -25px;
    }
    .address h4,
    .address ul li{
        text-align: left;
    }
    .address img{
        margin: 0;
    }
    .contact .smallLine{
        margin-left: 10px;
    }
    .smallLine{
        margin: 0;
        margin-bottom: 30px;
    }
    .payment img:hover{
        width: 40px;
        height: 25px;
    }
    footer .address{
        padding-bottom: 80px;
    }
    .rights{
        padding: 30px;
    }
    .contact-info article{
        padding: 20px;
    }   
    .contact-info{
        background: url('style-images/world-map.png') no-repeat center center;
        padding: 100px;
    }
   .stars {
    position: absolute;
    top: 36px;
    left: 65%;
}
    .fa-refresh,  .fa-heart-o{
        font-size: 20px;

    }
    .twelve-p button{
        padding: 10px;
        color: rgb(108, 197, 21);
    }
    .filtersSelect{
        display: block;
    }
    .filtersSelect article{
        padding: 15px;
    }
    .twelve-p{
        display: block;
    }
    .best-Sale .imageHover {
        color: #6cc515;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 30%;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: none;
        background-color: rgba(0,0,0,0.8);
        background-size: cover;
    }
   
    .logIn{
        margin-top: 130px;
        padding: 50px;
    }
    button.btnDefault:nth-child(2) {
        background: rgb(108, 197, 21) none repeat scroll;
        padding: 2px;
        width: 30%;
        border-radius: 7px;
    }
    .registration{
        margin-top: 25%;
    }
    .tab-pane{
        margin-top: 20px;
    }
    .radio-inline{
        margin-left: 10px;
    }
    .popReg{
        margin-top: 200px;
    }
    .pass input{
        height: 40px;
    }
    .registration {
        margin-top: 10%;
    }
    .registration ul{
        padding-left: 40%;
    }
    .table{
        width: 20%;
        border: 2px solid #6cc515;
        position: absolute;
        top: 23%;
        left: 70%;
        z-index: 100;
        display: none;
    }
    .login a.account{
        font-weight: bold;
    }
    ul.list-unstyled:nth-child(4) > li:nth-child(5) > p:nth-child(1) > a:nth-child(1){
        font-size: 15px;
    }
    .error{
    margin-top: 200px;
    padding: 40px;
}
.error h1{
    font-size: 300px;
    color: #fd6804;
    font-weight: 900;
}
.error-1 h2{
    font-weight: 300;
    color: #3d3d3d;
    margin-top: 10px;
    font-size: 90px;
}
.error-1 a{
    color: #80954a;
}
.error .error-1 .fa{
    color: #80954a;
}
.deliveryA{
        margin-top: 0;
    }
 .twelve{
        display: none;
    }
    .adressDelivery{
        margin-top: 190px;
    }
     .adressDelivery a.btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc513;
    border-radius: 5px;
    background: #6cc513;
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 0px;
}
.infoShop a.btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc513;
    border-radius: 5px;
    background: #6cc513;
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 0px;
}
.logPg{
    margin-top: 200px;
}
}

