.userPanel{
    margin-top: 300px;
}
#myFile{
    background: lightgray;
}
#myFile .userPic .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}
.userPic{
    padding: 30px;
}
.tab-content{
    margin-top: -73px;
}
#changeFile{
    margin-top: 100px;
}
.userPanel .birth{
    font-size: 17px;
}

